.root {
    text-align: center;
}

.members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: 48px auto 64px;

    &:last-of-type {
        margin-bottom: 0;
    }
}
